mixin nav-content()
  ul
    li: a(href="#home") Home
    li: a(href="#about") About
    li: a(href="#our_services") Our Services
    li: a(href="#our_lawyers") Our Lawyers
    li: a(href="#contact_us") Contact Us

.mobile-nav
  +nav-content()

header.header#home
  .header-position
    nav.site-nav
      +nav-content()
    
    .mobile-nav-toggle: span
