mixin nav-content()
  ul
    li: a(href="#home") HOME
    li: a(href="#about") ABOUT
    li: a(href="#music") MUSIC
    li: a(href="#bookings_contact") BOOKINGS & CONTACT

.mobile-nav
  +nav-content()

header.header#home
  .header-position
    nav.site-nav
      +nav-content()
    
    .mobile-nav-toggle: span
