header
  h1 
  
    nav
      ul
        li: a(href="#home") Home
        li: a(href="#about") About Us
        li: a(href="#services") Our Services
        li: a(href="#lawyers") Our Lawyers
        li: a(href="#contact") Contact Us 
