section.services
  .flex.flex--center
    .col-3
      h2 Our Services
      
      ul
        li: a(href="#service-1") ADVISING ON INTERNATIONAL JOINT VENTURES
        li: a(href="#service-2") DRAFTING & ADVISING ON CROSS BORDER COMMERCIAL AGREEMENTS
        li: a(href="#service-3") SHIPPING LAW
        li: a(href="#service-4") DUE DILLIGENCE ON SUB-SAHARAN FRONTIER MARKETS
        li: a(href="#service-5") REPRESENTATION IN INTERNATIONAL ARBITRATION TRIBUNALS
