section.contact#contact_us
  .hover-space
  .contact-div
    .col-50.flex.flex--center
      .col-1
        h2 Contact
      
    .col-50.flex.flex--center
      p.contact-para To contact us please fill out our contact form. 

  .home-cta.flex.flex--center
    .return-top
      a(href="#home" style="background-image: url(/assets/img/arrowb.svg)") Return To Top

        
      
